{{ partial "header" . }}

<main>
    <div id='canvasSection'>
    </div>

    <div class="intro">

        {{ with .Site.Params.profilePic }} <img class="profile" src="{{ . }}"> {{ end }}

        <h1>{{ .Site.Title }}</h1>

        <h2>{{ markdownify .Site.Params.Description }}</h2>

    </div>

</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.1/p5.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.1/addons/p5.dom.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/matter-js@0.14.2/build/matter.min.js" type="text/javascript"></script>
<script src="h3xus/src/h3xus.js"></script>
<script src="h3xus/src/particle.js"></script>
<script src="h3xus/src/performance_control.js"></script>

{{ partial "footer" . }}
